{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

            <h1 class="display-1 text-center"> Smart Menu </h1>


	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{dish1.name}}</span> </h2>
								<p>Amazing Food, {{dish1.category}}  </p>
								<a href="{{path('menu')}}" class="site-btn">Menu Cart</a>
								<a href="{{path('order', {id:dish1.id})}}" class="site-btn sb-c2">Order</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
							<img src="{{ asset('images/' ~ dish1.image) }}" alt="{{ dish1.name }}" width="300" height="300">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
								<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{dish2.name}}</span></h2>
								<p>Amazing Food, {{dish2.category}}  </p>
								<a href="{{path('menu')}}" class="site-btn">Menu Cart</a>
				<a href="{{path('order', {id:dish2.id})}}" class="site-btn sb-c2">Order</a>

							</div>
						</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
<img src="{{ asset('images/' ~ dish2.image) }}" alt="{{ dish2.name }}"   width="300" height="300">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
{% endblock %}
